<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: comics
Vendor: slothsoft
Farah ID: farah://slothsoft@comics
Composer ID: slothsoft/comics

Homepage: http://farah.slothsoft.net/modules/comics
Packagist: https://packagist.org/packages/slothsoft/comics
GitHub: https://github.com/Faulo/slothsoft-comics

Llo
-->
  <default-configuration/>
  <assets>
    <resource-directory name="data" path="data" type="application/x-php"/>
    <resource-directory name="css" path="stylesheet" type="text/css"/>
    <resource-directory name="js" path="script" type="application/javascript"/>
    <resource-directory name="xsl" path="template" type="application/xslt+xml"/>
    <resource-directory name="dictionary" path="dictionary" type="application/xml"/>
    <resource-directory name="pages" path="pages" type="application/xml"/>
    <fragment name="8bit">
      <use-template ref="xsl/_default"/>
      <use-document ref="static/8bit-index"/>
      <include-fragment ref="//slothsoft@core/HTML5"/>
      <param name="standalone" scope="global"/>
    </fragment>
    <fragment name="menage-a-3">
      <use-template ref="xsl/_default"/>
      <use-document ref="static/menage-a-3-index"/>
      <include-fragment ref="//slothsoft@core/HTML5"/>
      <param name="standalone" scope="global"/>
    </fragment>
    <fragment name="el-goonish-shive">
      <use-template ref="xsl/_default"/>
      <use-document ref="static/el-goonish-shive-index"/>
      <include-fragment ref="//slothsoft@core/HTML5"/>
      <param name="standalone" scope="global"/>
    </fragment>
    <fragment name="oots">
      <use-template ref="xsl/_default"/>
      <use-document ref="static/oots-index"/>
      <include-fragment ref="//slothsoft@core/HTML5"/>
      <param name="standalone" scope="global"/>
    </fragment>
    <fragment name="girl-genius">
      <use-template ref="xsl/_default"/>
      <use-document ref="static/girl-genius-index"/>
      <include-fragment ref="//slothsoft@core/HTML5"/>
      <param name="standalone" scope="global"/>
    </fragment>
    <directory name="static">
      <resource name="8bit-index" path="8bit\index.xml" type="application/xml"/>
      <resource-directory name="8bit" path="8bit" type="*/*"/>
      <resource name="menage-a-3-index" path="menage-a-3\index.xml" type="application/xml"/>
      <resource-directory name="menage-a-3" path="menage-a-3" type="*/*"/>
      <resource name="el-goonish-shive-index" path="el-goonish-shive\index.xml" type="application/xml"/>
      <resource-directory name="el-goonish-shive" path="el-goonish-shive" type="*/*"/>
      <resource name="oots-index" path="oots\index.xml" type="application/xml"/>
      <resource-directory name="oots" path="oots" type="*/*"/>
      <resource name="girl-genius-index" path="girl-genius\index.xml" type="application/xml"/>
      <resource-directory name="girl-genius" path="girl-genius" type="*/*"/>
    </directory>
  </assets>
</module>
